{% extends "base/base_account.html" %}
{% block main %}
<div class="row">
  <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3 " style="margin-top: 45%">
    <!-- <div class="container"> -->
      <!-- <div class="card white"> -->
        <!-- <div class="card-content">
          <span class="card-title">เข้าสู่ระบบ</span>
		  <div class="divider"></div> -->
              <div class="row center">
                  <a href="/google/login" class="btn red darken-1 col s8 offset-s2" style="border-radius:10px;">เข้าสู่ระบบด้วย Google สิจ๊ะ</a>
              </div>
  

        <!-- </div> -->

      <!-- </div> -->
    </div>
  </div>
</div>
{% endblock %}
