<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/static/node_modules/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/node_modules/materialize-css/dist/css/materialize.css">
  <link href="/static/node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet">
  <script src="/static/node_modules/materialize-css/dist/js/materialize.js"></script>
  <script src="/static/node_modules/vue/dist/vue.js"></script>
  
  <title>{% block title %}{{ config.get('APP_TITLE') }}{% endblock %}</title>
  <style>
  .fixed-action-btn{
    top:10ex;
  }
  </style>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });

  </script>

</head>

<body class="grey lighten-4">
	<main>
      <div class="container">
    {% block main %}
    {% endblock %}
      </div>

  </main>
  {% block additional_js %} {% endblock %}
</body>

</html>

