  <nav class="green darken-3">
	  <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      <a href="{{ url_for('dashboard.index')}}" class="brand-logo center">{% block title %}{{ config.get('APP_TITLE') }}{% endblock %}</a>
	      <li>Hi, {{ user.firstname }} {{ user.lastname }} Points:{{user.points}}
				</li>
	      <li><a href="{{ url_for('bulls.index')}}">Bulls</a></li>
	      <li><a href="{{ url_for('bulls.mybull')}}">My Bulls</a></li>
	      <li><a href="{{ url_for('accounts.logout')}}">Logout</a></li>
      </ul>
    </div>
  </nav>
