{% extends "base/base_layout.html" %}
{% include "base/nav.html" %}
{% block main %}

<div class="row">
<form action="{{request.path}}" enctype="multipart/form-data" method="POST" class="col s12">
{{ form.csrf_token }}
 <div class="input-field col s12">
{{form.name}}
{{form.name.label}}
</div>
	<div class="input-field col s12">
{{form.detail(class='materialize-textarea')}}
{{form.detail.label}}
	</div>
<div class="file-path-wrapper">
{{form.picture}}
{{form.picture.label}}
	 </div>
	  <div class="input-field col s12">
{{form.price}}
{{form.price.label}}
	  </div>
<button type="submit" class="btn" style="border-radius:25px">Submit</button>

</form>
</div>


{% endblock %}
