{% extends "base/base_layout.html" %}
{% include "base/nav.html" %}
{% block main %}
	<div class="row">
		<h4>Confirm your transaction</h4>
    <div class="col s6">
	    <div class="card white darken-1">
		<div class="card-image">
          	<img src="{{ url_for('bulls.get_image', bull_id=bull.id, filename=bull.picture.image.filename) }} " width="300" height="500" alt="">
	      <div class="card-content grey-text text-darken-3">

<p>Name: {{bull.name}}</p>
          <p>Detail: {{bull.detail}}</p>
          <p>Price: {{bull.bull_transaction.price}}</p>
        </div>
        <div class="card-action">
		<a href="{{url_for('bulls.confirm_buy', bull_id=bull.id)}}">Comfirm</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
