{% extends "base/base_layout.html" %}
{% include "base/nav.html" %}
{% block main %}

	{% for bull in bulls %}
   {% if bull.bull_transaction.is_active %}
  <div class="row">
    <div class="col s6">
	    <div class="card white darken-1">
		<div class="card-image">
          	<img src="{{ url_for('bulls.get_image', bull_id=bull.id, filename=bull.picture.image.filename) }} " width="300" height="500" alt="">
	      <div class="card-content grey-text text-darken-3">


          <p>Name: {{bull.name}}</p>
          <p>Detail: {{bull.detail}}</p>
          <p>Price: {{bull.bull_transaction.price}}</p>
        </div>
        <div class="card-action">
		{% if bull.owner.id == current_user.id %}
			<a href="{{url_for('bulls.mybull', bull_id=bull.id)}}">Your Bull</a>
		{% else %}
			<a href="{{url_for('bulls.buy', bull_id=bull.id)}}">Buy This</a>
		{% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif%}
  {% endfor%}

{% endblock %}
