{% extends "base/base_layout.html" %}
{% include "base/nav.html" %}
{% block main %}
  <!-- <a href=""class="waves-effect waves-light btn">Add Bull</a> -->
  <div class="row">
    <div class="col s12">


<div class="fixed-action-btn">

	<a href="{{url_for('bulls.add_bull')}}"class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>     
   <h3 class="center">On Market</h3>
  
    </div>
  </div>
  <div class="row">
{% for bull in bulls %}
{% if bull.bull_transaction.is_active %}
    <div class="col s6">
	    <div class="card white darken-1">
		    <div class="card-image">
        	<img src="{{ url_for('bulls.get_image', bull_id=bull.id, filename=bull.picture.image.filename) }} " width="300" height="500" alt="">
	        <div class="card-content grey-text text-darken-3">
            <p>Name: {{bull.name}}</p>
            <p>Detail: {{bull.detail}}</p>
            <p>Price: {{bull.bull_transaction.price}}</p>
          </div>
          <div class="card-action">
		        <a href="{{url_for('bulls.cancel', bull_id=bull.id)}}">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  {% endif%}
  {% endfor %}
  </div>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <div class="divider"></div>
        <h3 class="center">Your Bulls</h3>
      </div>
    </div>
    <div class="row">
{% for bull in bulls %}
  
{% if not bull.bull_transaction.is_active %}
    <div class="col s6">
	    <div class="card white darken-1">
		<div class="card-image">
          	<img src="{{ url_for('bulls.get_image', bull_id=bull.id, filename=bull.picture.image.filename) }} " width="300" height="500" alt="">
	      <div class="card-content grey-text text-darken-3">

	 <p>Name: {{bull.name}}</p>
          <p>Detail: {{bull.detail}}</p>
          <p>Price: {{bull.bull_transaction.price}}</p>

        </div>
        <div class="card-action">
		<a href="{{url_for('bulls.sell', bull_id=bull.id)}}">Sell</a>
        </div>
      </div>
    </div>
  </div>
  {% endif%}

  {% endfor%}
    </div>
  </div>
</div>
{% endblock %}
