{% extends "base/base_layout.html" %}
{% include "base/nav.html" %}
{% block main %}
	Hello {{ user.firstname }}
	<br><br>
	<a href="{{ url_for('accounts.logout')}}">logout</a>
	
	<div id="example">
		<p>Original message: "{{ '{{ message }}' }}"</p>
		<p>Computed reversed message: "{{ '{{ reversedMessage }}' }}"</p>
	  </div>
{% endblock %}
{% block additional_js %}
<script type="text/javascript">
var vm = new Vue({
  el: '#example',
  data: {
    message: 'Hello'
  },
  computed: {
    // a computed getter
    reversedMessage: function () {
      // `this` points to the vm instance
      return this.message.split('').reverse().join('')
    }
  }
});
console.log('hello');
</script>
{% endblock %}